<h1>Welcome to my awesome site</h1>
{{ template "lorem-ipsum" }}
{{ template "lorem-ipsum" }}
{{ template "lorem-ipsum" }}
{{ template "lorem-ipsum" }}


{{ define "lorem-ipsum" }}
<p>
Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. 
Ultrices in iaculis nunc sed. Amet venenatis urna cursus eget nunc scelerisque viverra mauris in. 
Malesuada nunc vel risus commodo viverra maecenas accumsan. Scelerisque felis imperdiet proin fermentum leo vel orci porta non. 
Elementum eu facilisis sed odio morbi. Est sit amet facilisis magna etiam tempor. Vitae et leo duis ut diam quam nulla porttitor. 
Risus pretium quam vulputate dignissim. Arcu felis bibendum ut tristique et egestas quis ipsum suspendisse. 
Etiam tempor orci eu lobortis elementum nibh tellus molestie nunc. Donec ac odio tempor orci dapibus ultrices in iaculis nunc. 
Urna cursus eget nunc scelerisque viverra. Est lorem ipsum dolor sit. Nisi lacus sed viverra tellus in hac habitasse platea dictumst. 
Diam vulputate ut pharetra sit amet aliquam id. Consectetur a erat nam at lectus urna duis. Cras adipiscing enim eu turpis egestas pretium. 
Purus ut faucibus pulvinar elementum integer enim neque. Vel facilisis volutpat est velit egestas dui id ornare arcu.
</p>
{{ end }}